.team-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    min-height: 80vh;
    margin-top: auto;
    margin-bottom: auto;
    flex-wrap: wrap;
}

.team-member{
    position: relative;
    width: 250px;
    height: 400px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
    overflow: hidden;
    background-color: white;
    transition: transform 0.2s ease-in-out;
}

.team-member:hover{
    transform: scale(1.1);
}

.team-member:hover .thumbnail{
    border: 3px solid #41B06E;
}

.team-member .thumbnail{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.details{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    width: 90%;
    background: rgba(255,255,255,0.9);
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease,transform 0.1s ease,visibility 0.2s ease;
}

.team-member:hover .details{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

.team-member:focus .details{
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(0);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex-grow: 1;
}


#meet{
    margin-bottom: 20px;
    color: lightyellow;
    font-size: 40px;
    font-family: sans-serif;
    }

p{
    font-size: 15px;
    font-family: sans-serif;
}